# Python
__pycache__/
*.py[cod]
*.pyo

# Raw datasets
data/raw/*.csv
data/raw/*.zip
data/raw/*.xlsx

# Raw and processed datasets
data/raw/*.csv
data/raw/*.zip
data/raw/*.xlsx
data/processed/*.csv

# Virtual Environment
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

